.questions-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 96vh;
    width: 64vh;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    border: 3px solid black;
    background-color: white;
    background-image: url('https://cdn11.bigcommerce.com/s-0kvv9/images/stencil/1280x1280/products/301964/429076/jun190851__33240.1563467042.jpg?c=2&imbypass=on');
    background-size: 100% 100%;
}

.questions-container div {
    border: 2px solid #000;
    background-image:radial-gradient(circle, yellow, orange);
   /*  background-color: #FFFF00; */
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

.question {
    grid-column: 1 / span 12;
    grid-row: 1 / span 4;
    font-size: larger;
}

.clickable:hover{
    background-image:radial-gradient(circle, orange, red);
    background-color: #000;
}

#answer1 {
    grid-column: 1 / span 7;
    grid-row: 5 / span 2;
}

#answer2 {
    grid-column: 8 / span 5;
    grid-row: 5 / span 2;
}

#answer3 {
    grid-column: 1 / span 5;
    grid-row: 7 / span 2;
}

#answer4 {
    grid-column: 6 / span 7;
    grid-row: 7 / span 2;
}

#answer5 {
    grid-column: 1 / span 7;
    grid-row: 9 / span 2;
}

#answer6 {
    grid-column: 8 / span 5;
    grid-row: 9 / span 2;
}

.previous {
    grid-column: 1 / span 4;
    grid-row: 11 / span 2;
}

.next {
    grid-column: 9 / span 4;
    grid-row: 11 / span 2;
}

.questions-container a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions-container .selected{
    background-image:radial-gradient(circle, orange, red);
    background-color: red;
    color: black;
    border-color: black;
}

.questions-container p {
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}