.results-container {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    border: 3px solid black;
    height: 75vh;
    width: 50vh;
    background-color: white;
    background-image: url('https://cdn11.bigcommerce.com/s-0kvv9/images/stencil/1280x1280/products/301964/429076/jun190851__33240.1563467042.jpg?c=2&imbypass=on');
    background-size: 100% 100%;
}

.results {
    background-image:radial-gradient(circle, yellow, orange);
    border: 2px solid black;
    color: #000;
    grid-column: 7 / span 6;
    grid-row: 2 / span 1;
}

.description {
    background-image:radial-gradient(circle, yellow, orange);
    /* background-color: #FFFF00; */
    border: 2px solid black;
    color: #000;
    padding: 10px;
    grid-column: 1 / span 12;
    grid-row: 9 / span 3;
    font-size: smaller;
}

.thumbnail {
    border: 2px solid black;
    grid-column: 1 / span 12;
    grid-row: 1 / span 8;
}

.thumbnail img {
    height: 100%;
    width: 100%;
    border: none;
}

.reset {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}

.reset a {
    height: 100%;
    width: 100%;
}

.results-container button {
    font-weight: bold;
    border: 2px solid black;
    background-image:radial-gradient(circle, yellow, orange);
    /* background-color: #FFFF00; */
    padding: 10px;
    height: 100%;
    width: 100%;
    font-family: inherit;
    font-size: larger;
}

.results-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-image:radial-gradient(circle, orange, red);
    background-color: black;
}